{% extends 'base.html' %}
{% block content %}

<h1 class="is-size-2">Please Register</h1>
<br>
<!-- errors -->
{% if error %}
<div class="notification is-danger is-light">
    <button class="delete"></button>
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

<!-- messages -->
{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<form action="" method="POST">
    {{ form.csrf_token }}

    <div class="field">
        <label class="label">Username</label>
        <div class="control">
            {{ form.username(placeholder='username', class='input') }}
        </div>
        <p class="help is-danger">
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    <div class="field">
        <label class="label">Email</label>
        <div class="control">
            {{ form.email(placeholder='email', class='input') }}
        </div>
        <p class="help is-danger">
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    <div class="field">
        <label class="label">Password</label>
        <div class="control">
            {{ form.password(placeholder='password', class='input') }}
        </div>
        <p class="help is-danger">
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
            {{ form.confirm(placeholder='confirm', class='input') }}
        </div>
        <p class="help is-danger">
            {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        </p>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-link is-dark" type="submit">Register</button>
        </div>
    </div>

</form>

{% endblock %}